<!-- Sidebar -->
<ul class="navbar-nav bg-gray-900 sidebar sidebar-dark accordion bg-gray-800" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
        <div class="sidebar-brand-text mx-3">Investment War Room</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Assets -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'assets' %}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Assets</span></a>
    </li>

    <!-- Nav Item - Settings -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'configuration' %}">
            <i class="fas fa-fw fa-cog"></i>
            <span>Assets Configuration</span></a>
    </li>

    {% if user.is_superuser %}
        <!-- Nav Item - Admin -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Admin</span></a>
        </li>
    {% endif %}

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->
